<div mat-dialog-title class="header-dialog-container">
  <div class="full-time-txt">{{ selectedHour }} : {{ selectedMinute }}</div>

  <div class="selector-am-pm">
    @for(period of periodsList; track period.id) {
    <span [ngClass]="{ 'period-selected': period.value === selectedPeriod }" (click)="selectPeriod(period.value)">
      {{ period.value }}
    </span>
    }
  </div>
</div>

<div mat-dialog-content class="time-picker-container">
  <div class="clock">
    <div class="hand hour-hand fadeIn" *ngIf="isSelectingHours" [style.transform]="hourHandTransform"></div>
    <div class="hand minute-hand fadeIn" *ngIf="!isSelectingHours" [style.transform]="minuteHandTransform">
      <div class="hand-end-circle" *ngIf="!isMinuteMultipleOfFive(selectedMinute)"></div>
    </div>
    <div class="center"></div>
    <span *ngIf="isSelectingHours" class="fadeIn">
      <div *ngFor="let hour of hoursList" class="hour" [style.transform]="hour.transform" [ngClass]="{
              'hour-selected': hour.label === selectedHour,
              'hour-disabled': hour.disabled
            }" (click)="selectHour(hour)">
        {{ hour.label }}
      </div>
    </span>
    <span *ngIf="!isSelectingHours" class="fadeIn">
      <div *ngFor="let minute of minutesList" class="minute" [style.transform]="minute.transform" [ngClass]="{
              'minute-selected': minute.label === selectedMinute,
              'minute-disabled': minute.disabled
            }" (click)="selectMinute(minute)">
        {{ minute.label }}
      </div>
    </span>
  </div>
</div>
<div mat-dialog-actions class="footer-actions">
  <button mat-stroked-button class="btn-close" (click)="closeDialog()">Cerrar</button>
</div>