<section class="main-container">
  <div class="timepickers-container">
    <div>TimePicker 12 HOURS AM/PM</div>

    <div class="timepicker-am-pm">
      <mat-form-field floatLabel="always" class="form-field-timepicker" (click)="openDialogTimePicker('12')">
        <mat-label>Hora A.M./P.M.</mat-label>
        <input matInput [value]="amPmTimeValue" readonly>
      </mat-form-field>
    </div>

    <div>TimePicker 24 HOURS</div>

    <div class="timepicker-full-hours">
      <mat-form-field floatLabel="always" class="form-field-timepicker" (click)="openDialogTimePicker('24')">
        <mat-label>Hora 24 H</mat-label>
        <input matInput [value]="fullTimeValue" readonly>
      </mat-form-field>
    </div>
  </div>
</section>