<main class="container">
  <header class="header">
    <div class="title-container">
      <h1 class="title">Solutions with Custom Components</h1>
      <div class="social-icons">
        <a href="https://github.com/edgarbenitez92/custom-components-app" target="_blank">
          <img src="assets/icons/github-white.svg" alt="GitHub" class="icon" />
        </a>
        <a href="https://www.linkedin.com/in/edgar-benitez-valera/" target="_blank">
          <img src="assets/icons/linkedin.svg" alt="LinkedIn" class="icon" />
        </a>
      </div>
    </div>
    <p class="description">
      This project includes a variety of custom components that simplify the development of modern and efficient web
      applications. Below, you'll find examples of how to implement and use these components in your project.
    </p>
  </header>

  <section class="components-section">
    <h2 class="subtitle">Custom Timepickers</h2>
    <mat-divider class="divider"></mat-divider>

    <div class="grid-components">
      <!-- 12-Hour Time Picker Card -->
      <div class="card">
        <div class="header">
          <h2 class="title">TIMEPICKER 12H</h2>
        </div>
        <div class="content">
          <p class="description">A customizable 12-hour timepicker with AM/PM format.</p>
          <div class="input-container">
            <label for="time12h" class="label">Time 12H</label>
            <input id="time12h" [value]="standardTimeValue" class="input-timepicker" readonly
              (click)="openDialogStandardTimepicker()" />
          </div>
        </div>
      </div>

      <!-- 24-Hour Time Picker Card -->
      <div class="card">
        <div class="header">
          <h2 class="title">TIMEPICKER 24H</h2>
        </div>
        <div class="content">
          <p class="description">A customizable 24-hour timepicker for precise time selection.</p>
          <div class="input-container">
            <label for="full-time" class="label">Time 24H</label>
            <input id="full-time" [value]="fullTimeValue" class="input-timepicker" readonly
              (click)="openDialogFullTimepicker()" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="components-section">
    <h2 class="subtitle">Chilean RUT Validators</h2>
    <mat-divider class="divider"></mat-divider>

    <div class="grid-components">
      <!-- RUT validator with pipe Card -->
      <div class="card">
        <div class="header">
          <h2 class="title">RUT VALIDATOR USING PIPE</h2>
        </div>
        <div class="content">
          <p class="description">
            The RUT is automatically formatted, validated, and cleaned as part of the process in a custom pipe.
          </p>
          <div class="input-container">
            <app-rut-validator-wp></app-rut-validator-wp>
          </div>
        </div>
      </div>

      <!-- RUT validator with directive Card -->
      <div class="card">
        <div class="header">
          <h2 class="title">RUT VALIDATOR USING DIRECTIVE</h2>
        </div>
        <div class="content">
          <p class="description">
            Similar to the pipe version, implementing RUT format, validation, and cleaning directly in a custom
            directive.
          </p>
          <div class="input-container">
            <app-rut-validator-wd></app-rut-validator-wd>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>