.container {
  min-height: 100vh;
  padding: 2rem;
  background-color: #1a1d21;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjMWExZDIxIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiMyMjI2MmUiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=');
}

.header {
  text-align: center;

  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .title {
      flex: 1;
      color: #fff;
      font-size: 1.5rem;
      margin-right: 1rem;
      margin-bottom: 0;

      @media (min-width: 425px) {
        font-size: 2rem;
        margin-right: 0;
      }

      @media (max-width: 768px) {
        margin-bottom: 1rem;
      }
    }

    .social-icons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;

      @media (max-width: 768px) {
        justify-content: center;
      }

      a {
        display: flex;
        align-items: center;

        .icon {
          width: 24px;
          height: 24px;

          &:hover {
            filter: brightness(0.8);
          }
        }
      }
    }
  }

  .description {
    font-size: 1rem;
    color: #bbb;
    margin-top: 1.5rem;

    @media (max-width: 768px) {
      font-size: 0.9rem;
    }
  }
}

.components-section {
  margin-bottom: 3rem;

  .subtitle {
    font-size: 1.3rem;
    color: #38a169;
    margin-bottom: 0.5rem;
    text-align: left;
  }

  .divider {
    margin-bottom: 1rem;
    background-color: #bbb;
    height: 1px;
    width: 100%;
  }

  .grid-components {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(0, auto);
    justify-items: stretch;

    @media (max-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }

    .card {
      background-color: #2d2f34;
      color: white;
      border: 1px solid #3a3d42;
      overflow: hidden;
      border-radius: 30px;

      .header {
        padding: 0.2rem;
        color: white;
        background-color: #38a169;

        .title {
          text-align: center;
          font-size: 0.8rem;
          margin: 0px;

          @media (min-width: 1200px) {
            font-size: 1.1rem;
          }
        }
      }

      .content {
        padding: 1rem;

        .description {
          font-size: 0.85rem;
          margin-bottom: 0.5rem;
        }

        .input-container {
          background-color: #3a3d42;
          padding: 0.75rem;
          border-radius: 0.5rem;

          .label {
            display: block;
            margin-bottom: 0.25rem;
          }

          .input-timepicker {
            background-color: #4a4d52;
            color: white;
            border: 1px solid #5a5d62;
            width: 94%;
            padding: 0.5rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}