.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .timepickers-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    border: 5px solid #002b49;
    border-radius: 15px;
    gap: 5px;

    .standard-timepicker-title {
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: #26d07c;
      color: white;
      font-weight: bold;
      text-align: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      font-family: 'Montserrat', sans-serif;
    }

    .standard-timepicker {
      width: 100%;
      text-align: center;
      margin: 10px;
    }

    .full-timepicker-title {
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: #26d07c;
      color: white;
      font-weight: bold;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
    }

    .timepicker-full-hours {
      width: 100%;
      text-align: center;
    }

    .form-field-timepicker {
      cursor: pointer;


      .input-timepicker {
        cursor: pointer;
      }
    }
  }
}

// Dialog styles
::ng-deep .dialog-timepicker {
  .mat-mdc-dialog-container {
    .mat-mdc-dialog-surface {
      background-color: #f7f7f7;
      padding: 0px;
      box-shadow: none;
      border-radius: 10px;
      overflow: hidden;
    }
  }
}